Source: abe-fakepackages
Maintainer: Axel Beckert <abe@deuxchevaux.org>
Section: metapackages
Priority: optional
Homepage: https://github.com/xtaran/abe-fakepackages#readme
Vcs-Git: https://github.com/xtaran/abe-fakepackages.git
Vcs-Browser: https://github.com/xtaran/abe-fakepackages
Standards-Version: 4.2.1
Build-Depends: debhelper (>= 11)

Package: colord
XB-Important: yes
Architecture: all
Depends: ${misc:Depends}
Provides: fake-colord,
          prevent-colord
Description: Dummy package to override dependencies on colord
 The sole purpose of this package is to fulfill gnome-control-center
 3.8.x's silly dependency on colord which pulls in ConsoleKit and
 PolicyKit which are usually unwanted on lean systems.
 .
 Should be named fake-colord, but that doesn't work until dpkg and apt
 support versioned Provides (which they do since Jessie).

Package: fake-consolekit
Provides: consolekit (= ${binary:Version}),
          prevent-consolekit
XB-Important: yes
Architecture: all
Depends: ${misc:Depends}
Description: Dummy package to ignore dependencies on consolekit
 The sole purpose of this empty dummy package is to fulfill
 e.g. lxsession 0.5.x's but also other packages' unnecessary
 dependency on consolekit.

Package: fake-libpam-systemd
Provides: libpam-systemd (= ${binary:Version})
Architecture: all
Depends: ${misc:Depends}
Description: Dummy package to ignore dependencies on libpam-systemd
 The sole purpose of this empty dummy package is to fulfill
 e.g. policykit's but also other packages' unnecessary dependency on
 libpam-systemd.

Package: fake-accountsservice
Provides: accountsservice (= ${binary:Version}),
          prevent-accountsservice
XB-Important: yes
Architecture: all
Depends: ${misc:Depends}
Description: Dummy package to ignore dependencies on accountsservice
 The sole purpose of this empty dummy package is to fulfill
 e.g. gnome-control-center's but also other packages' unnecessary
 dependency on accountsservice.
